apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "5"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"frontend","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"frontend"}},"template":{"metadata":{"labels":{"app":"frontend"}},"spec":{"containers":[{"env":[{"name":"PUBLIC_BASE_URL","value":""},{"name":"PUBLIC_RELATIVE_PATHS","value":"false"}],"image":"frontend-app:latest","imagePullPolicy":"Never","name":"frontend","ports":[{"containerPort":3000}],"resources":{"limits":{"cpu":"5000m","memory":"5000Mi"},"requests":{"cpu":"500m","memory":"1000Mi"}}}]}}}}
  creationTimestamp: "2025-02-25T07:43:53Z"
  generation: 5
  name: frontend
  namespace: default
  resourceVersion: "6538"
  uid: 3b4874a5-240d-46d0-a010-4afc31b1d87c
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: frontend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-02-25T03:56:17-05:00"
      creationTimestamp: null
      labels:
        app: frontend
    spec:
      containers:
        - env:
            - name: PUBLIC_BASE_URL
            - name: PUBLIC_RELATIVE_PATHS
              value: "false"
          image: frontend-app:latest
          imagePullPolicy: Never
          name: frontend
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            limits:
              cpu: "5"
              memory: 5000Mi
            requests:
              cpu: 500m
              memory: 1000Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
    - lastTransitionTime: "2025-02-25T08:03:50Z"
      lastUpdateTime: "2025-02-25T08:03:50Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-02-25T07:43:53Z"
      lastUpdateTime: "2025-02-25T08:56:21Z"
      message: ReplicaSet "frontend-64b458865f" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
  observedGeneration: 5
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
