services/backend/tmp/
services/backend/tmp/main
services/backend/app.log
services/worker/__pycache__
services/worker/core*
services/db/backups
services/worker/venv
services/backups/
services/context/llm_context.txt
services/frontend/package-lock.json
.github/tmp

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
env/
venv/
ENV/
prod/env/
.env
.venv

services/prod/config/redis-secret.yaml
services/prod/config/db-secret.yaml
services/prod/config/cloudflare-secret.yaml
services/prod/config/polygon-secret.yaml

# Add new paths for secrets
services/prod/config/secrets/
