services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        restart: always
        ports:
          - "5057:5057"
        volumes:
            - ./backend/:/app
        networks:
            - compose_network
    db:
        build:
           context: ./db
           dockerfile: Dockerfile
        ports:
          - "5432:5432"
        networks:
            - compose_network

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        volumes:
          - ./frontend:/app
          - /app/node_modules
        environment:
          - WATCHPACK_POLLING=true #enable polling
        ports:
          - "5173:5173"
        restart: always

networks:
  compose_network:
    driver: bridge
