services/backend/tmp/build-errors.log
services/backend/app.log
services/worker/__pycache__
services/worker/core*
services/db/backups
services/worker/venv
.github/tmp

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.env
.venv

services/prod/config/redis-secret.yaml
services/prod/config/db-secret.yaml
services/prod/config/cloudflare-secret.yaml
services/prod/config/polygon-secret.yaml

services/worker/venv/