[MASTER]
ignore=tests,__pycache__,.git,venv,env,.venv,.env
disable=C0111,C0103

[NAMING]
variable-naming-style=camelCase
function-naming-style=camelCase
argument-naming-style=camelCase
attr-naming-style=camelCase
method-naming-style=camelCase
class-naming-style=PascalCase
const-naming-style=camelCase
module-naming-style=camelCase

[FORMAT]
max-line-length=120
good-names=i,j,k,ex,Run,_,id,db

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,C0301

[BASIC]
good-names=i,j,k,ex,Run,_,id,db

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no 