apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      restartPolicy: Always # Update the restart policy to "Always"
      containers:
        - name: backend
          image: billin19/backend:prod
          imagePullPolicy: Always
          ports:
            - containerPort: 5057
          env:
            # Database connection
            - name: DB_HOST
              value: "db"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: db_ROOT_PASSWORD
            # Redis connection
            - name: REDIS_HOST
              value: "cache"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: redis-password
          resources:
            requests:
              cpu: 1000m
              memory: 2000Mi
            limits:
              cpu: 10000m
              memory: 20000Mi
