apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2023.8.0
          imagePullPolicy: Always
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-secret
                  key: tunnel-token
          command:
            - /bin/sh
            - -c
            - |
              /usr/local/bin/cloudflared tunnel --no-autoupdate run --token=$TUNNEL_TOKEN --url=http://ingress-nginx-controller.ingress-nginx.svc.cluster.local:80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      restartPolicy: Always
