apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: ${CLOUDFLARED_IMAGE:-cloudflare/cloudflared:2023.8.0}
          imagePullPolicy: Always
          args:
            - tunnel
            - --no-autoupdate
            - run
            - --token=${CLOUDFLARE_TUNNEL_TOKEN}
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      restartPolicy: Always
