apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-mime-types
  namespace: ingress-nginx
data:
  mime.types: |
    types {
      text/html                             html htm shtml;
      text/css                              css;
      application/javascript                js mjs;
      application/json                      json;
      image/jpeg                            jpeg jpg;
      image/png                             png;
      image/gif                             gif;
      image/svg+xml                         svg svgz;
      image/webp                            webp;
      font/woff                             woff;
      font/woff2                            woff2;
      application/octet-stream              bin;
      application/pdf                       pdf;
      application/zip                       zip;
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-js-module-config
  namespace: default
data:
  js-module-config.conf: |
    # Ensure JavaScript modules are served with the correct MIME type
    location ~* \._app/immutable/.*\.js$ {
      add_header Content-Type application/javascript;
    }
    location ~* \.js$ {
      types { application/javascript js; }
      default_type application/javascript;
    }
