apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/instance: ingress-nginx
      app.kubernetes.io/name: ingress-nginx
  template:
    metadata:
      labels:
        app.kubernetes.io/component: controller
        app.kubernetes.io/instance: ingress-nginx
        app.kubernetes.io/name: ingress-nginx
    spec:
      containers:
        - name: controller
          image: k8s.gcr.io/ingress-nginx/controller:v1.2.1
          volumeMounts:
            - name: mime-types-volume
              mountPath: /etc/nginx/mime.types
              subPath: mime.types
      volumes:
        - name: mime-types-volume
          configMap:
            name: nginx-mime-types

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ingress-nginx
  namespace: default

---
apiVersion: v1
kind: Secret
metadata:
  name: ingress-nginx-admission
  namespace: default
type: Opaque
data:
  cert: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJakNDQWdxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFuTVNVd0l3WURWUVFERXh4cGJtZHkKWlhOekxXNW5hVzU0TFdGa2JXbHphVzl1TFhOclpXVndNQjRYRFRJME1ETXdNakF3TVRreU1Wb1hEVFF5TVRFdwpOVEF3TVRreU1Wb3dKekVsTUNNR0ExVUVBeE1jYVc1bmNtVnpjeTF1WjJsdWVDMWhaRzFwYzJsdmJpMXphMlZsCmNEQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQU0xN05FeXBjS0EzWEhQVkdKTU8KdWNvSkw1NG1JZG54ckEvM29jUWFCdGhUemQrVHlFY3U5d2kwSzZBZWxnMU5pS1l5Y0dibDJDcVlTdHdGRXdhUgpuWUEvM0M2cXBUdXByREdEeFlQYVdHVDZrNDFUL241OVVlZDVMazVIM1F1V1Z5Zy9UTlJhSDMyU3A0cVJHZzVVCmJscWdiOHdXVW9SL012QmZOeGE2bGhOQmJGWmFuT1dUTkFiZ1g0V284ZHJWaWhQRnVIZ2JvejFBZldWdVE2ZWwKazhVbmJITE9NNDl1cHdIdVlrWjBUVFB3aVlDeGlGYVF4VXEvUGVPQTVVNzd0K0srYnpMMWVGbFFtWXFxYzRmTwpRVnVXV2ZjaHZxeTBlcVdrUVR1NG9WelR0OXI0ZldtYlZ0bThmYllxZVQ4TmFCb2EyWE9ROXRPcGhQeGc3ZEZXCnJSc0NBd0VBQWFOL01IMHdEZ1lEVlIwUEFRSC9CQVFEQWdLa01CMEdBMVVkSlFRV01CUUdDQ3NHQVFVRkJ3TUIKQmdnckJnRUZCUWNEQWpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJUeUlqcXplSlBseWpjTQpVb0hVYkJWNzZWa2lidEFtQmdOVkhSRUVIekFkZ2h0cGJtZHlaWE56TFc1bmFXNTRMbVJsWm1GMWJIUXVjM1pqCk1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQW9aamFGNzJYRVVwY1JiQzVyOE44MExwMjdMWUNFdjZaZThmZ3QKR2l0cXBXMkhuUWdTYzN4aS9leDNsVWdLcnRBZHJZTFlaWXJ5NFYzSHd0ZEgvNDBzcG5JbmZBNmkzcTh2MkFaVAo2SUJtR2pOSzV2bEhpZzkvcnk5MldyTTNqOXVRa01ZVUNUOCt5SzA2UnQzTnZVajJlUlJadkdFbnlNOGpJaVNrCjZUT0lUck5mL20yZitGU1ZybHNseGhnMmhGb0dwamhhdnhDYTRQbFBuOVJKVGNwQ2VxYTJBbTVUNGJwa3YzRU0KbUtoVjVFT2MzazBGcFpXVWxORmJYUU1WZ1pPOVBpaVE2Qnc0Q3F5MVRYU2RVZUpySS9DS0UvZHR1cWJlaUZ5dwo0UGVES2l0bkQ1QllZK3VidGxXaXlGTXV4bmhVbHk5Y052VHhndmlsRDlwemUzeGIKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  key: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRRE5lelJNcVhDZ04xeHoKMVJpVERybktDUytlSmlIWjhhd1A5NkhFR2diWVU4M2ZrOGhITHZjSXRDdWdIcFlOVFlpbU1uQm01ZGdxbUVyYwpCUk1Ha1oyQVA5d3VxcVU3cWF3eGc4V0QybGhrK3BPTlUvNStmVkhuZVM1T1I5MExsbGNvUDB6VVdoOTlrcWVLCmtSb09WRzVhb0cvTUZsS0Vmekx3WHpjV3VwWVRRV3hXV3B6bGt6UUc0RitGcVBIYTFZb1R4Ymg0RzZNOVFIMWwKYmtPbnBaUEZKMnh5empPUGJxY0I3bUpHZEUwejhJbUFzWWhXa01WS3Z6M2pnT1ZPKzdmaXZtOHk5WGhaVUptSwpxbk9IemtGYmxsbjNJYjZzdEhxbHBFRTd1S0ZjMDdmYStIMXBtMWJadkgyMktuay9EV2dhR3RsemtQYlRxWVQ4CllPM1JWcTBiQWdNQkFBRUNnZ0VBVUdVT3dsR0JnR2hwM0FSV0xldUdRY08xbm5HNXpRYXYzMmY0bU9DZWhyOHQKWHdDcjdoU3ZlL0Z2TWw3a09uK0UzaUl6RUx6Y0c3ZmlrZ1NKcVBtR25TQ3pEcDh3V3FVKzF0K2tWcmIzaW1HSQpqUzZ3dmNiU2RMNVUvVW1iaktxazhDeEZNM2VsdW5qbytEQ2lTLzFrR2lXSFRyWDJrTFJoOE5VSE5acExuNDNXCmFMQURORExXTGFQU0t6VmpWM3ZKNG9jOG5aZjRvWkxWSEVqdXhHL0hDRGdyOS9GVituVDRaeGQvdkhlWkZpd3MKRWZnSk9VSEtoL2tTWnVMVGJJSGg2Y2t0dzZWVWFPNnBHa3hIc21HbEIwNC9KZG4wYnNUSFppSWZ0c2tjQnVZQQoveFRhTGs2WWhzdHhoRVZXS0RsNk5Zd2NyUTdTbmZOUGhXV1BXdjVxYVFLQmdRRGRCVS9NMWU2eDB0UFFDUFkrCnAxbXBlMFJpKzJFRnNEbTkxUHg2bS9mWXdrNXRoa3JRT1hMUWoyeU9HZzlOR0dIUFlqMk5wSFpIRE9lTTVJV3QKU3k2OWZlVGM1VHJMQkZQcHFySklkTk55OXN4TmFlWVFNaXVlcmpYRmVMZ1hPYnJIU0ZyWTBwNmxNZ1VjRzNzMAovOStiQWNXMlNKVDdvUlFRME56NWt3S0JnUUR1UGNwbDNGZFBHSFNXaWRBRmlaZ0hqNUV2djl6QVRRSGVEa01XCkk5YlpFMkRGRHYrRmdsdXc3bzB2K0grelRtaE9DMXlsaCtXcEZzdmx1ZmlROUhvdEVxdndDcm1NeHJIRjFZWkYKdHZJbFRCTS90ZXJsRVAwcG9TZStXckRNT3F2VnZCYzNDMldCTFhIZFhaRlptRGNQUTQwSHcwcDBmUXArZUhvZwo5R2QzK1FLQmdRQ2hqUnFzMkJVeXRCRE1iSEVYTkJWUWJBK1Bia3k5cGZEa3p1blBuK0xsZ1hWVWFNRUR0QWRICitBTWNQT3k2akR0UmN5TkJwUkdTY2FPaW45WHlYKzZGQk1saTVTNlY1Z0hZMGRVYnFMVlZEN2Q1VGJ3aUsyUzIKOUpSdXpsYVRRUk9GdEpOcEZmQkNXREx0R1d6bFV0UjZmSFB1ZWhWR0UrZUVFTVBzeUJ3OW53S0JnRWJPc3pSNApaWnF4aUxDR0o1cmZLcW45VjlNWEhjUjBQUm5sZ3FTZVZpN1BTdEVIRkNPNVpjM2NnVUgwR0Z6NjFsQUk5QVI5ClhucWVsUERmYnhLclAwUjdYbnY3WS9udlRaZ1RXMFY2NW53SjR3Y0NGWmsxcnpKUEdwbWNtRUovUjdWUlRERzYKMzVXQnFZMFFDeE1lSmtqWkN2V0hXVlBhNmhEVHNwcTB1d1R4QW9HQVAvYUQwZDBCY2xJOTZSYUxjQ0dDRWlRbgpDWnBBaFRaNHNya2lscnJtdGdld1FobHNDZWhlZ2RaM21mOVJScWlpeCszNFVMcXdkSnAxaWRNVG1JdnY0QXdtCnR0UTUzdE15YTlpY2JhYm1GemZySWRjb1FVVWpScmVYSHRtWWkvWXhZYitiaUlFNmtRWVVTN0V4RUtsYXZJR2oKdVdWYjZ4SThDTDkybGlNZWp3Yz0KLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo=
