name: Deploy to Kubernetes (Staging)

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: false

permissions:
  contents: read
  packages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy-stage:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: 'stage'
      target_branch: ${{ github.event.inputs.branch || github.ref_name }}
      #      k8s_context: 'stage-cluster'
      k8s_namespace: 'stage'
      google_redirect_url: 'https://stage.atlantis.trading/auth/google/callback'
      ingress_host: 'stage.atlantis.trading'
      #public_base_url: '/'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      DB_ROOT_PASSWORD: ${{ secrets.STAGE_DB_ROOT_PASSWORD }}
      REDIS_PASSWORD: ${{ secrets.STAGE_REDIS_PASSWORD }}
      POLYGON_API_KEY: ${{ secrets.POLYGON_API_KEY }}
      OPENAI_API_KEY: ${{ secrests.OPENAI_API_KEY }}
      GEMINI_FREE_KEYS: ${{ secrets.GEMINI_FREE_KEYS }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      JWT_SECRET: ${{ secrets.STAGE_JWT_SECRET }}
      CLOUDFLARE_TUNNEL_TOKEN: ${{ secrets.STAGE_CLOUDFLARE_TUNNEL_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
